<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="Content-Security-Policy" content="default-src * data:; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
  <script src="components/loader.js"></script>
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/onsenui/js/onsenui.min.js"></script>
  <script src="lib/onsenui/js/angular-onsenui.min.js"></script>
    <script src="cordova.js"></script>
 
  <link rel="stylesheet" href="components/loader.css">
  <link rel="stylesheet" href="lib/onsenui/css/onsenui.css">
  <link rel="stylesheet" href="lib/onsenui/css/onsen-css-components.css">
  <link rel="stylesheet" href="css/style.css">

<script>
    ons.bootstrap()
      .controller('AppController', function($scope, $http) {
        this.load = function(page) {
          $scope.splitter.content.load(page);
          $scope.splitter.left.close();
        };

        this.toggle = function() {
          $scope.splitter.left.toggle();
        };
        
        
       /*  $http.get('php_file/json.php').success(function(data) {
          $scope.staticData = data;
        });
        */
         $http.get("php_file/json.php").then(function (data) {
             $scope.staticData = data;
        });
         $http.get('php_file/getDynamic.php').success(function(data) {
          $scope.dynamicData = data;
        });
        
         $http.get('php_file/getResponsive.php').success(function(data) {
          $scope.responsiveData = data;
        });
        
         $http.get('php_file/getSoftware.php').success(function(data) {
          $scope.softwareData = data;
        });
        
         $http.get('php_file/getApp.php').success(function(data) {
          $scope.androidData = data;
        });
        
      });
   
</script>

</head>
<body>

  <ons-splitter ng-controller="AppController as app" var="splitter">
    <ons-splitter-side side="left" width="220px" collapse swipeable>
      <ons-page>
         <ons-list>
         <ons-list-item  tappable>
         <div>
               <img src="images/logo.png" style="width:100%" />
         </div>
        </ons-list-item>  
        <ons-list-item ng-click="app.load('home.html')" tappable>
          Home
        </ons-list-item>
        <ons-list-item ng-click="app.load('about.html')" tappable>
          About
        </ons-list-item>
        <ons-list-item ng-click="app.load('services.html')" tappable>
          Our Services
        </ons-list-item>
         <ons-list-item ng-click="app.load('clients.html')" tappable>
          Our Clients
        </ons-list-item>
          <ons-list-item ng-click="app.load('staticprojects.html')" tappable>
          Static Web Projects
        </ons-list-item>
          <ons-list-item ng-click="app.load('dynamicprojects.html')" tappable>
          Dynamic Web Projects
        </ons-list-item>
          <ons-list-item ng-click="app.load('softwareprojects.html')" tappable>
          Software Projects
        </ons-list-item>
          <ons-list-item ng-click="app.load('responsiveprojects.html')" tappable>
          Responsive Projects
        </ons-list-item>
          <ons-list-item ng-click="app.load('appprojects.html')" tappable>
          App
        </ons-list-item>
      </ons-list>
      </ons-page>
    </ons-splitter-side>
    <ons-splitter-content page="home.html"></ons-splitter-content>
  </ons-splitter>

  <ons-template id="home.html">
    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="app.toggle()">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">
          Main
        </div>
      </ons-toolbar>
     <ons-carousel var="carousel"  fullscreen swipeable auto-scroll overscrollable>
    <ons-carousel-item  >
     <img src="images/rs-slider1-bg.jpg" style="width:100%; height:auto;">
    </ons-carousel-item>
    <ons-carousel-item >
     <img src="images/rs-slider2-bg.jpg" style="width:100% ;height:auto;">
    </ons-carousel-item>
    <ons-carousel-item >
     <img src="images/rs-slider3-bg.jpg" style="width:100%; height:auto;">
    </ons-carousel-item>
    <ons-carousel-item >
     <img src="images/rs-slider4-bg.jpg" style="width:100%; height:auto;">
    </ons-carousel-item>
</ons-carousel>
   
    
    <div class="front_page_content" > 
      <p>Ugra Technology is a leading professional web design and web development company in Salem offering various services such as, Webs Designing, Web Development, Softwares, Ecommerce Websites, Search Engine Optimization (SEO) services and Online Works.</p>

<p>We offer you Customize web design templates to get yourself a unique on web. We customize your layout, pictures, logos, flash elements, color scheme and the content. We design websites at your request.</p>

<p>Contact us immediately to check our company's outstanding power and get your best destination for all your professional web design and development needs.</p>

<p>We provide ultimate support from the start till the end. We are here to help & keep your business ahead always!</p>
       <img src="images/band-1.jpg" class="responsive"/>

<div >

   

</div>
      <div class="alert-danger" >
        Build your Expectation over our Expertise. With a decade of experience, we have in-depth knowledge and skilled experts in web and mobile technologies!
      </div>
        </div>
    </ons-page>
  </ons-template>

  <ons-template id="settings.html">
    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="app.toggle()">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">
          Settings
        </div>
      </ons-toolbar>
    </ons-page>
  </ons-template>

  <ons-template id="about.html">
    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="app.toggle()">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">
          About Us
        </div>
      </ons-toolbar>
         <img src="images/band-5.jpg" class="responsive"/>
        <p>Ugra Technology is a web site designing company in Salem, Tamilnadu specialising in innovative website design with powerful functionality for better online business.</p>
 <p>
Getting your business online now a days is essential - whether your business is large or small. Many of the benefits of being online will not be obvious till you see what a website can do for you!</p>
 <p>
We offer you Customize templates to get yourself a unique on web. We customize your layout, pictures, logos, flash elements, color scheme and the content. We design websites at your request.</p>
 <p>
Searching for a website design? Just request us for what you require. Ugra Tehnology think in assisting our clients with entire website results. Just contact us for what you require</p>
        <h3>Over a Decade of Experience</h3>
        <p>Build your Expectation over our Expertise. With a decade of experience, we have in-depth knowledge and skilled experts in web and mobile technologies!</p>
        <h3>Experience the Excellence</h3>
        <p>Quality comes first. Our Quality assurance is backed with lasting professional experience and innumerable international clients!</p>
        <h3>Reliable Service</h3>
        <p>Customers from all over the world can see your product or service online straight away, a web site never sleeps - it is open 24/7! Whether you currently have a web site that is under-performing or you are completely new to the web we can help you.</p>
   
    </ons-page>
  </ons-template>
    
    
      
<ons-template id="services.html">
  <ons-page>
    <ons-toolbar>
       <div class="left">
        <ons-toolbar-button ng-click="app.toggle()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">
        Our Services 
      
      </div>
         </ons-toolbar>
      <h3> Web Designing and Frontend Development</h3>
      <img src="images/responsive-web.png" class="responsive"/>
        <p>A professional and unique designed website increases the visibility to your customers to know about your products and services in the Internet world.</p>
 <p>
Ugra Technology always follows the latest technology and design accordingly that which suits for all web business. We are experts in designing a creative website which can easily accessed, loads quickly, fine navigation and have a good look and feel of the website.</p>
 <p>
When we talk about custom web design, we give you a unique and customized design that is specially made for you. Each and every client has their own requirements and hence they need the customized design by which they can promote their business. We know that each of our clients have their individual requirements and hence they need a custom web design service through which they can promote their business in a unique manner. This means we give Individual Approach to Every Customer by using the below features.</p>
 
  </ons-page>
</ons-template>

<ons-template id="clients.html">
  <ons-page>
    <ons-toolbar>
     <div class="left">
        <ons-toolbar-button ng-click="app.toggle()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">
        Our Clients
      </div>
    </ons-toolbar>
   
    <!--  <ons-carousel var="carousel1"  fullscreen swipeable auto-scroll overscrollable centered itemCount='2'> -->
   <ul class="list-clients " style="list-style: none; "> 
    <li >
                            <img src="images/clients/ArunAbroad.jpg" alt="Clients" class="responsive"/>
                        </li>
                    <li >
                            <img src="images/clients/pl.jpg" alt="Clients" class="responsive"/>
                        </li>
                    
                   <li >
                            <img src="images/clients/avishaya.jpg" alt="Clients" class="responsive"/>
                        </li>
                    <li >
                            <img src="images/clients/aalfa.jpg" alt="Clients" class="responsive"/>
                        </li>
                        <li >
                            <img src="images/clients/chakra.jpg" alt="Clients" class="responsive"/>
                        </li>
                       <li >
                            <img src="images/clients/sangamam.jpg" alt="Clients" class="responsive"/>
                        </li>
                    <li >
                            <img src="images/clients/royal.jpg" alt="Clients" class="responsive"/>
                        </li>
                    <li >
                            <img src="images/clients/valueindia.jpg" alt="Clients" class="responsive"/>
                        </li>
                        <li >
                            <img src="images/clients/annaiarts.jpg" alt="Clients" class="responsive"/>
                        </li>
                       <li >
                            <img src="images/clients/arun.jpg" alt="Clients" class="responsive"/>
                        </li>
                       
                        <li >
                            <img src="images/clients/aspireacademy.jpg" alt="Clients" class="responsive"/>
                        </li>
                   		 <li >
                            <img src="images/clients/cgips.jpg" alt="Clients" class="responsive"/>
                        </li>
                       
                        
                        <li >
                            <img src="images/clients/collegeatugra.jpg" alt="Clients" class="responsive"/>
                        </li>
                       <li >
                            <img src="images/clients/dpc.jpg" alt="Clients" class="responsive"/>
                        </li>


                       <li >
                            <img src="images/clients/durga.jpg" alt="Clients" class="responsive"/>
                        </li>
                      
                       <li >
                            <img src="images/clients/ggbi.jpg" alt="Clients" class="responsive"/>
                        </li>
                       <li >
                            <img src="images/clients/ggpromoters.jpg" alt="Clients" class="responsive"/>
                        </li>
                       <li >
                            <img src="images/clients/hermoinese.jpg" alt="Clients" class="responsive"/>
                        </li>
                       <li >
                            <img src="images/clients/ioj.jpg" alt="Clients" class="responsive"/>
                        </li>
                       <li >
                            <img src="images/clients/lazerpower.jpg" alt="Clients" class="responsive"/>
                        </li>
                         <li >
                            <img src="images/clients/lemon.jpg" alt="Clients" class="responsive"/>
                        </li> <li >
                            <img src="images/clients/lifeline.jpg" alt="Clients" class="responsive"/>
                        </li> <li >
                            <img src="images/clients/littlegenius.jpg" alt="Clients" class="responsive"/>
                        </li> <li >
                            <img src="images/clients/maranatha.jpg" alt="Clients" class="responsive"/>
                        </li> <li >
                            <img src="images/clients/mkbst.jpg" alt="Clients" class="responsive"/>
                        </li> <li >
                            <img src="images/clients/onlinemaligai.jpg" alt="Clients" class="responsive"/>
                        </li> <li >
                            <img src="images/clients/peacetrust.jpg" alt="Clients" class="responsive"/>
                        </li>
                         <li >
                            <img src="images/clients/pmk.jpg" alt="Clients" class="responsive"/>
                       </li> <li >
                            <img src="images/clients/pmpcollege.jpg" alt="Clients" class="responsive"/>
                        </li> <li >
                            <img src="images/clients/selvam.jpg" alt="Clients" class="responsive"/>
                        </li> <li >
                            <img src="images/clients/spa.jpg" alt="Clients" class="responsive"/>
                        </li> <li >
                            <img src="images/clients/studentsacademy.jpg" alt="Clients" class="responsive"/>
                        </li> <li >
                            <img src="images/clients/sumangali.jpg" alt="Clients" class="responsive"/>
                        </li>    

                        <li >
                            <img src="images/clients/svb.jpg" alt="Clients" class="responsive"/>
                        </li>    
                        <li >
                            <img src="images/clients/uniqueacademy.jpg" alt="Clients" class="responsive"/>
                        </li>    

          </ul>
          
          
 <!-- </ons-carousel> -->
  </ons-page>
</ons-template>
    
    
<ons-template id="staticprojects.html">
  <ons-page>
    <ons-toolbar>
       <div class="left">
        <ons-toolbar-button ng-click="app.toggle()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">
        Static Web Projects
      
      </div>
    </ons-toolbar>

     
     <div class="" >
      
<ul class="list-unstyled">
  <li ng-repeat="x in staticData track by $index" >
       <img ng-src= {{ x.project_thumb }} width="100%"/> 
      <p>Title </p>
      <p class="page_title">{{ x.project_thumb }} <br />  {{ x.project_title }}</p>
  </li>
</ul>
     </div> 
 
  </ons-page>
</ons-template>
    
    

<ons-template id="dynamicprojects.html">
  <ons-page>
    <ons-toolbar>
       <div class="left">
        <ons-toolbar-button ng-click="app.toggle()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">
        Dynamic Web Projects
      
      </div>
    </ons-toolbar>
     <div class="" >
        
<ul class="list-unstyled">
  <li ng-repeat="y in dynamicData">
 <!--  <img src="http://ugratechnology.com/img/web-pages/thumb/{{y.project_thumb}}" width="100%"/> --> <p class="page_title">  {{ y.project_title }}</p>
  </li>
</ul>
         
     </div>
 
  </ons-page>
</ons-template>
    
    
    <ons-template id="responsiveprojects.html">
  <ons-page>
    <ons-toolbar>
       <div class="left">
        <ons-toolbar-button ng-click="app.toggle()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">
        Responsive Web Projects
      
      </div>
    </ons-toolbar>
     <div class="" >
        <p style="color:red">Note :- <br /> Now we are developing app projects in Responsive Manner </p>
         <ul class="list-unstyled">
  <li ng-repeat="k in responsiveData">
   <img ng-src="http://ugratechnology.com/img/responsive/thumb/{{k.project_thumb}}" width="100%"/> <p class="page_title">  {{ k.project_title }}</p>
  </li>
</ul>
         
     </div>
 
  </ons-page>
</ons-template>
    
<ons-template id="appprojects.html">
  <ons-page>
    <ons-toolbar>
       <div class="left">
        <ons-toolbar-button ng-click="app.toggle()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">
        App Projects
      
      </div>
    </ons-toolbar>
     <div class="" >
        
         <ul class="list-unstyled">
  <li ng-repeat="j in androidData">
   <img ng-src="http://ugratechnology.com/img/App/{{j.project_thumb}}" width="100%"/> <p class="page_title">  {{ j.project_title }}</p>
  </li>
</ul>
         
     </div>
 
  </ons-page>
</ons-template>
    
    <ons-template id="softwareprojects.html">
  <ons-page>
    <ons-toolbar>
       <div class="left">
        <ons-toolbar-button ng-click="app.toggle()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">
        Software Projects
      
      </div>
    </ons-toolbar>
     <div class="" >
        
         <ul class="list-unstyled">
  <li ng-repeat="w in softwareData">
   <img ng-src="http://ugratechnology.com/img/web-pages/thumb/{{w.project_thumb}}" width="100%"/> <p class="page_title">  {{ w.project_title }}</p>
  </li>
</ul>
         
     </div>
 
  </ons-page>
</ons-template>
</body>
</html>
